<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Destination" value="Web.config" />
		<add key="Source" value="Web.Template.config" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
</configuration>